body {
    width: 370px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-bottom: 0.5em; */
    /* padding-bottom: 4px; */
    /* margin-top: 0.5em; */
    /* margin-top: 0.5em; */
}

input,
select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid silver;
    border-radius: 8px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #303030;
}

input:focus {
    outline: 0;
    border-color: #95c0fe;
    box-shadow: 0 0 0 0.2em #c2daff;
}

input.error {
    border-color: #dd4b5a;
    box-shadow: 0 0 0 0.2em #f6ccd0;
}

.error-msg {
    text-align: center;
    color: #dd4b5a;
    /* font-size: 1em; */
    font-size: 12px;
    /* margin-top: 1em; */
    
    min-height: 12px;
    margin: 0;
    padding: 0;
  }